<header class="header">
  <a class="header-logo" href="/"><img src="img/logo.svg" alt=""></a>
  <div class="header-info">
    <div class="header-info__item">
      <img src="img/pin.svg" alt="">
      <p>Москва,<br> ул Коцюбинского, д 10</p>
    </div>
    <div class="header-info__item">
      <img src="img/clock.svg" alt="">
      <p>ежедневно<br> с 9:00 до 19:00</p>
    </div>
  </div>
  <div class="header-phone">
    <a href="tel:+7 (499) 113 38 88">+7 (499) 113 38 88</a>
    <p>заказать звонок</p>
  </div>
  <div class="header-burger"></div>
</header>