<div class="popup" id="call-popup">
  <div class="form">
    <h4>Дежурный менеджер перезвонит вам в течении 5 минут в рабочее время</h4>
    <form action="#" method="post">
      <label>
        <small>Как вас зовут?</small>
        <input type="text" name="name" class="input" placeholder="Иван Петров" />
      </label>
      <label>
        <small>Ваш номер телефона</small>
        <input type="tel" name="phone" class="input masked" placeholder="+7 (___) ___-__-__" />
      </label>
      <button type="submit" class="btn-orange btn-form">Заказать звонок</button>
      <label class="form-politic">
        <input type="checkbox" checked />
        <p>Я прочитал и согласен с условиями <a href="javascript:;" data-fancybox data-src="#politic-popup">Политики конфиденциальности</a></p>
      </label>
    </form>
  </div>
</div>

<header class="header">
  <a class="header-logo" href="/"><img src="img/logo.svg" alt=""></a>
  <div class="header-info">
    <div class="header-info__item">
      <img src="img/pin.svg" alt="">
      <p>Москва,<br> ул Коцюбинского, д 10</p>
    </div>
    <div class="header-info__item">
      <img src="img/clock.svg" alt="">
      <p>ежедневно<br> с 9:00 до 19:00</p>
    </div>
  </div>
  <div class="header-phone">
    <a href="tel:+7 (499) 113 38 88">+7 (499) 113 38 88</a>
    <p data-fancybox data-src="#call-popup">заказать звонок</p>
  </div>
  <div class="header-burger"></div>
  <div class="header-menu">
    <ul>
      <li><a href="index.html">Главная</a></li>
      <li><a href="search.html">Коммерческая недвижимость</a></li>
      <li><a href="search.html">Жилая недвижимость</a></li>
      <li><a href="news.html">Новости</a></li>
      <li><a href="contact.html">Контакты</a></li>
    </ul>
  </div>
</header>